<html>
    <head>
        <title><%= profileData.fName %>'s Profile</title>
        <% include ../partials/head %>

     </head>

    <header>
        <% include ../partials/header %>
       
        
        <a id="logout" href='../'>Log Out </a>


    </header>


    <body>

        <h1><%= profileData.fName %>'s profile body</h1>

        <p>Owned books: <%= profileData.books.length %></p>

        <form id="addBookForm" method="POST">
            <input class="addbook" id="isbn" type="text" name="ISBN" placeholder="ISBN" required><br>
            <input class="addbook" id="title" type="text" name="title" placeholder="Title"><br>
            <input class="addbook" id="edition" type="number" min="1" name="edition" placeholder="Edition"><br>
            <input class="addbook" id="author" type="text" name="author" placeholder="Author"><br>
            <button id="addBookButton" type="submit">Add/Remove Book</button>
        </form>
        <div id="bookSearchButton">
            <button id="bookSearch" type="" onclick="window.open('../search')">Request Books</button>
        </div>

        <div id="bookList">  
        <% profileData.books.forEach((book, key)=>{ %>
            <div class="book" id="book_<%= key %>">         
                <ul class="bookUList" id="">
                    <li id="bookisbn"><% if(book.ISBN != "") { %>
                        ISBN: <%= book.ISBN %> 
                        <% } %> 
                    </li>
                    <li id="booktitle"><% if(book.title != "") { %>
                        Title: <%= book.title %>
                        <% } %> 
                    </li>
                    <li id="bookedition"><% if(book.edition != "") { %>
                        Edition: <%= book.edition %>
                        <% } %> 
                    </li>
                    <li id="bookauthor"><% if(book.author != "") { %>
                        Author: <%= book.author %> 
                        <% } %> 
                    </li>
                    <br />
                </ul>
            </div>
        <% }) %>
        </div>
        


        
    </body>



    <footer> <% include ../partials/footer %> </footer>
</html>